
body {
    background-image: url("friends-logo.png")
}

.jumbotron {
    
    background-color: midnightblue;
    font-family: 'Caveat', serif;   
}

.hhh {
    color:White;
    /* color: #120f0f; */
    font-size: 3.7em;  
}

.lead{
    color: red;
    font-size: 1.4em
}

.fa-spinner {
    color: white
}

#sec-text {
    color: yellow;
    font-size: 1.3em;
}
#survey-button{
    font-size: 1.7em
}


